.table {
  width: 1170px;
  margin: 0 auto;  
}

@media screen and (max-width: 1280px) {
  .table {
    width: 920px;
  }
}

@media screen and (max-width: 960px) {
  .table {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}