.mechanism {
  width: 100%;
  margin-top: 130px;

  &__container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    max-width: $width-for-blocks-XL;    
  }

  &__text {
    margin: 47px 0 40px;
    @include Open-Sans-text-L(600, normal);

    &_type_span {
      color: #E64B13;
    }    
  }

  &__titles {
    width: calc(1170px - 27px);
    margin: 0 0 40px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    min-width: 230px;
    min-height: 55px;
    margin: 0;
    background: url('../image/arrow.png') no-repeat center/100% 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;    

    &:hover {
      background-image: url('../image/arrow_active.png');
      color: #FFFFFF;
      & > span {
        color: #FFFFFF;
      }
      transition-property: background-image, color;
      transition-duration: .3s, 0s;
      transition-timing-function: linear linear;
    }

    &_active {
      background-image: url('../image/arrow_active.png');
      color: #FFFFFF;
      & > span {
        color: #FFFFFF;
      }
    }

    &_type_above {
      display: none;
      
      &:hover {
        pointer-events: none;
      }
    }
  }

  & > &__container > .tabs {
    display: none;
    
    &_active {
      display: flex
    }

    & > .tabs__links > .tabs__link {    

      &_active {
        @include horizontal-gradient;

        &::before {
          display: none;
        }    
      }
    }
  } 

}

@media screen and (max-width: 1280px) {
  .mechanism {
    &__container {
      width: 920px;
    }

    &__titles {
      width: calc(920px - 27px);
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__heading {
      max-width: $width-for-blocks-XL;
    }
  }  
}

@media screen and (max-width: 960px) {
  .mechanism {
    max-width: 960px;
    padding: 0 15px;
    margin-top: 90px;
    box-sizing: border-box;

    &__container {
      width: 100%;
      align-items: center;

      & > .tabs > .tabs__links {
        width: $width-for-blocks-L;
        margin: 0 auto;
      }
    }

    &__titles {
      display: none;
    }

    &__title {
      display: flex;

      &_type_above {
        margin-top: 20px;
        width: $width-for-blocks-L;
      }
    }

    &__heading {
      max-width: $width-for-blocks-L;
    }

    & > &__container > .tabs {
      display: flex; 
    } 
    
  }  
}

@media screen and (max-width: 640px) {
  .mechanism {

    &__container {      
      & > .tabs > .tabs__links {
        max-width: $width-for-blocks-S;
      }
    }

    &__title {
      &_type_above {
        max-width: $width-for-blocks-S;
      }
    }
    
    &__heading {
      max-width: $width-for-blocks-S;
    }
  }  
}